<h2>Search Results for "<%= @search_term %>"</h2>

<h3><%= @market_label %></h3>

<% @market_results.each do |result| %>
  <strong><%= link_to result.name, show_market_path(result.id) %></strong>
<% end %>

<h3><%= @vendor_label %></h3>

<% @vendor_results.each do |result| %>
  <strong><%= link_to result.username, show_vendor_path(result.id) %></strong>
<% end %>

<h3><%= @no_results_label %></h3>
