<h2>Vendor Dashboard</h2>

<div class="left-col">
  <strong>Welcome, <%= @vendor.username %></strong>
  <ul>
    <li>Email: <%= @vendor.email %></li>
    <li>Market: <%= @current_market %></li>
    <li>Description: <%= @vendor.description %></li>
  </ul>

  <div class="buttons">
    <a href="<%= edit_vendor_path %>"><button type="button">Edit</button></a>&nbsp;&nbsp;<a href="<%= new_sale_path %>"><button type="button">Create Sale</button></a>
    <br>
    <br>
    <a href="<%= delete_vendor_path %>"><button type="button" class="delete-button">Delete Account</button></a>
  </div>
</div>

<div class="right-col">
  <strong>My Products</strong>
  <ul>
    <%= "<li>None Created</li>" if @vendor.products.count < 1 %>
    <% @vendor.products.each do |product| %>
      <li>
        <div class="product-link-dashboard"><%= link_to product.name, show_product_path(product.id) %></div>
        <%= link_to image_tag("edit.png", alt: "Edit Button"), edit_product_path(product.id) %>
        <%= link_to image_tag("delete.png", alt: "Delete Button"), delete_product_path(product.id) %>
      </li>
    <% end %>
  </ul>
  <a href="<%= new_product_path %>"><%= image_tag "add.png", alt: "Add Button" %> Product</a>
</div>
