<h2>Edit My Information</h2>

<form action="/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <table>
    <tr>
      <td><label for="vendor[username]">Username:</label></td>
      <td><input type="text" name="vendor[username]" value="<%= @vendor.username %>"></td>
    </tr>
    <tr>
      <td><label for="vendor[email]">Email:</label></td>
      <td><input type="text" name="vendor[email]" value="<%= @vendor.email %>"></td>
    </tr>
    <tr>
      <td><label for="vendor[description]">Description:</label></td>
      <td><textarea name="vendor[description]"><%= @vendor.description %></textarea></td>
    </tr>
    <tr>
      <td><label for="vendor[market_id]">Current Market:</label></td>
      <td><%= @current_market %></td>
    </tr>
    <tr>
      <td>New Market:</td>
      <td>
        <select name="vendor[market_id]">
          <option value="select">Select Different Market...</option>
          <% @markets.each do |market|  %>
            <option value="<%= market.id %>"><%= market.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to "Edit Markets", edit_markets_landing_path %></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="<%= new_market_path %>"><%= image_tag "add.png", alt: "Add Button" %> Market</a></td>
    </tr>
  </table>
  <input type="submit" value="Update">
</form>
