<h2>Edit My Information</h2>

<form action="/edit" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" name="vendor[username]" value="<%= @vendor.username %>"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" name="vendor[email]" value="<%= @vendor.email %>"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><textarea name="vendor[description]"><%= @vendor.description %></textarea></td>
    </tr>
    <tr>
      <td>Market:</td>
      <td>
        <%= @current_market %>
        <select name="vendor[market_id]">
          <option value="select">Select Different Market...</option>
          <% @markets.each do |market|  %>
            <option value="<%= market.id %>"><%= market.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
    <tr>
      <td><a href="<%= new_market_path %>"><img src="/assets/add.png"> Market</a></td>
      <td><%= link_to "Edit Markets", "/edit-markets" %></td>
    </tr>
  </table>
  <input type="submit" value="Update">
</form>
