<h2>View All Vendors</h2>

<% @vendors.each do |vendor| %>
  <strong><%= link_to vendor.username, show_vendor_path(vendor.id) %></strong>
  <ul>
    <li>Vendor Email: <%= vendor.email %></li>
    <li>Vendor Market: <%= vendor.market ? vendor.market.name : "No Market Selected" %></li>
    <li>Vendor Description: <%= vendor.description %></li>
    <li>Number of Products: <%= vendor.products.count %></li>
  </ul>
  <hr>
<% end %>
