<h2>Vendor Dashboard</h2>

<strong>Welcome, <%= @vendor.username %></strong>
<ul>
  <li>Vendor Email: <%= @vendor.email %></li>
  <li>Vendor Market:<%= @vendor.market_id %></li>
  <li>Vendor Description: <%= @vendor.description %></li>
  <li>Products:
    <ul>
      <% @vendor.products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>

    </ul>
  </li>
</ul>

<a href="/add-products">+ add product</a>

<div class="buttons">
  <a href="/edit"><button type="button">Edit</button></a>&nbsp;&nbsp;<a href="/delete"><button type="button">Delete</button></a>
</div>
