<h2>Vendor Dashboard</h2>

<strong>Welcome, <%= @vendor.username %></strong>
<ul>
  <li>Email: <%= @vendor.email %></li>
  <li>Market: <%= @current_market %></li>
  <li>Description: <%= @vendor.description %></li>
  <li>Products:
    <ul>
      <% @vendor.products.each do |product| %>
        <li><%= link_to product.name, show_product_path(product.id) %>, <%= link_to "edit", edit_product_path(product.id) %>, <a href="/products/<%= product.id %>/delete">delete</a></li>
      <% end %>
    </ul>
  </li>
</ul>

<a href="/products/new"><img src="/assets/add.png"> Product</a>

<div class="buttons">
  <a href="/edit"><button type="button">Edit</button></a>&nbsp;&nbsp;<a href="/delete"><button type="button">Delete</button></a>
</div>
