<!DOCTYPE html>
<html>
<head>
  <title>US Farmers Markets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- cow image was taken from http://en.wikipedia.org/wiki/File:Cow_closeup_03.svg -->
  <nav id="login">
    <% if current_user %>
      <%= link_to "My Dashboard", "/dashboard" %>
      <%= link_to "Log Out", "/log-out" %>
    <% else %>
      <%= link_to "Vendor Sign Up", "/signup" %>
      <%= link_to "Vendor Login", "/login" %>
    <% end %>
  </nav>



  <div id="main-nav">


    <a href="/"><img id="cow" src="/assets/farmar-cow.png" alt="US Farmers Markets Cow Logo"></a>

    <nav id="main-links">
      <a href="/vendors">VENDORS</a>&nbsp;/&nbsp;<a href="/">FARMERS MARKETS</a>&nbsp;/&nbsp;<a href="/">PRODUCTS</a>
    </nav>

    <form id="search">
      Search: <input type="text" name="search">
    </form>

  </div>


  <div id="wrapper">

    <div id="content">

      <%= yield %>

    </div>

  </div>



</body>
</html>
