<!DOCTYPE html>
<html>
<head>
  <title>US Farmers Markets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="login">
    <div id="login-wrapper">
      <% if current_user %>
        <%= link_to "My Dashboard", "/dashboard" %>
        <%= link_to "Log Out", "/log-out" %>
      <% else %>
        <%= link_to "Vendor Sign Up", new_vendor_path %>
        <%= link_to "Vendor Login", login_path %>
      <% end %>
    </div>
  </nav>

  <div id="main-nav">

    <p class="notice" ><%= notice %></p>
    <p class="alert" ><%= alert %></p>

    <!-- cow image was taken from http://en.wikipedia.org/wiki/File:Cow_closeup_03.svg -->
    <a href="/"><%= image_tag "farmar-cow.png", id: "cow", alt: "US Farmers Markets Cow Logo" %></a>

    <nav id="main-links">
      <%= link_to "VENDORS", vendors_path %>&nbsp;/&nbsp;<%= link_to "FARMERS MARKETS", markets_path %>&nbsp;/&nbsp;<%= link_to "PRODUCTS", products_path %>
    </nav>

    <form id="search" action="/search" method="POST">
      <input type="text" name="search" placeholder="Search">
      <input type="submit" value="search">
    </form>

  </div>


  <div id="wrapper">

    <div id="content">

      <%= yield %>

    </div>

  </div>



</body>
</html>
